/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;

	border-spacing: 0;
}
/* End of Reset */
/* Start of Custom Styles */
body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	font-size:;
	letter-spacing: 0.03em;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

div {
}

.top-navigation {
	background-color: : #fff;
}

.top-navigation > .content {
	margin: 0 auto;
	width: 970px;
	height: 70px;
	padding: 0px 15px;
	-webkit-box-sizing: border-box;
}

.top-navigation .logo {
	height: 70px;
}

.top-navigation .links {
	float: right;	
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 600;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links li:active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

section {
	position: relative;
	overflow: hidden;
}

.introduction {
	background-color: #f15a29;
	background-image: url(../img/first-background.jpg);
	background-position: 0 bottom;
	background-size: cover;
	height: 590px;
	font-size: 16px;
}

.introduction h1 {
	color: white;
	text-shadow: 0 1px 2px;
}


.introduction .content {
	color: white;
	text-align: center;	
	padding: 0px;
	font-size: 30px;
}

.introduction .content .buttons {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33
}



.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 17px 20px;
	font-size:  14px;
	line-height: 1.54;
	border-radius: 4px;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
}

.btn-lg {
	padding: 16px 26px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.btn-button {
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
}

.btn-button:hover {
	color: white;
	background-color: #d9400e;
	border-color: #cf3d0e;
}

.btn-button:hover, .btn-button:focus, .btn-primary:active {
	color: white;
	background-color: #d9400e;
	border-color: #cf3d0e;
}


.text-center {
	text-align: center;
}

h1 {
	margin: 0.67em 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h3 {
	font-size: 24px;
}

h1, h2 {
	font-weight: 300;
	font-size: 50px;
}
h1, h2, h3 {
	line-height: 1.25;
}





